# Assignment 16

Q1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

Ans: To create a list called years_list starting with the year of your birth and each year thereafter until the year of your fifth birthday.

In [5]:
# birth_year = 2000
years_list = [2000, 2001, 2002, 2003, 2004, 2005]
print(years_list)

[2000, 2001, 2002, 2003, 2004, 2005]

Q2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

Ans:

In [6]:
years_list = [2000, 2001, 2002, 2003, 2004, 2005]

third_birthday_year = years_list[3]
print(third_birthday_year)

2003

- The year 2003 corresponds to the year of third birthday.

Q3.In the years list, which year were you the oldest?

Ans:

In [7]:
years_list = [2000, 2001, 2002, 2003, 2004, 2005]

oldest_year = max(years_list)
print(oldest_year)

2005

- The year 2005 represents the year were the oldest

Q4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".
    
Ans:

In [9]:
things = ["mozzarella", "cinderella", "salmonella"]
print(things)

['mozzarella', 'cinderella', 'salmonella']

Q5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

Ans:

In [11]:
things = ["mozzarella", "cinderella", "salmonella"]

things[1] = things[1].capitalize()

print(things)

['mozzarella', 'Cinderella', 'salmonella']

- The element in the list that refers to a person has been changed

Q6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

Ans:

In [12]:
surprise = ["Groucho", "Chico", "Harpo"]
print(surprise)

['Groucho', 'Chico', 'Harpo']

Q7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

Ans:

In [13]:
surprise = ["Groucho", "Chico", "Harpo"]

last_element = surprise[-1].lower()  # Lowercase the last element
reversed_element = last_element[::-1]  # Reverse the element
capitalized_element = reversed_element.capitalize()  # Capitalize the reversed element

surprise[-1] = capitalized_element  # Update the last element in the list

print(surprise)

['Groucho', 'Chico', 'Oprah']

Q8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.
    
Ans:

In [14]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

Q9. Write the French word for walrus in your three-word dictionary e2f.

Ans:

In [15]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

french_word = e2f['walrus']
print(french_word)

morse

Q10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

Ans:

In [17]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

f2e = {value: key for key, value in e2f.items()}

print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

Q11. Print the English version of the French word chien using f2e.

Ans:

In [18]:
f2e = {
    'chien': 'dog',
    'chat': 'cat',
    'morse': 'walrus'
}

english_word = f2e['chien']
print(english_word)

dog

Q12. Make and print a set of English words from the keys in e2f.

Ans:

In [19]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

english_words = set(e2f.keys())
print(english_words)

{'cat', 'dog', 'walrus'}

Q13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.
    
Ans:

In [20]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

Q14. Print the top-level keys of life.

Ans:

In [23]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

top_level_keys = life.keys()
print(top_level_keys)

dict_keys(['animals', 'plants', 'other'])

Q15. Print the keys for life['animals'].

Ans:

In [24]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

animals_keys = life['animals'].keys()
print(animals_keys)

dict_keys(['cats', 'octopi', 'emus'])

Q16. Print the values for life['animals']['cats']

Ans:

In [26]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

cats_values = life['animals']['cats']
print(cats_values)

['Henri', 'Grumpy', 'Lucy']